# ---------------------------------------------
# 默认忽略的文件
# ---------------------------------------------
# 忽略ide的文件夹
.idea
.vscode

# 忽略生成的文件
redis-data
mongo-data
/tmp
resume

# 忽略配置文件
prod.yaml

# 忽略任何测试文件
*_test.go

# 忽略笔记
notes.md

# 其他
.DS_Store
/conf/prod.yaml
/logs/resume_log.out
/conf/deve.yaml
